<div class="eu-footer">
  <div class="row">
    <div class="eu-logos">
      <%= image_pack_tag "media/images/sern-logo.png", class: "logo-sern", alt: "Startup Europe Regions Network", title: "Startup Europe Regions Network" %>
      <%= image_pack_tag "media/images/YEE-logo.png", class: "logo-yee", alt: "Youth and Environment Europe", title: "Youth and Environment Europe" %>
      <%= image_pack_tag "media/images/BWN_Logo_Protection_area_White.png", class: "logo-bwn", alt: "Bankwatch Network", title: "Bankwatch Network" %>
    </div>
  </div>
  <div class="row">
    <div class="column small-12 medium-12 large-12">
      <div class="eu-disclaimer">
        <div class="eu-disclaimer__img">
          <%= image_pack_tag "media/images/eu-flag.jpg", class: "flag", alt: "European Union flag" %>
        </div>
        <div class="eu-disclaimer__text">
          <%= t("eu_footer.block_1") %>
        </div>
      </div>
    </div>
  </div>
</div>
